.blokk :global(.aksel-fieldset) {
    margin-top: 0;
}

.blokkUtvidet :global(.aksel-fieldset) {
    margin-top: 0;
}

.blokk {
    padding: 1rem 0 0.5rem 0.5rem;
    margin-top: 0.5rem;
}

.blokkUtvidet {
    background-color: var(--ax-neutral-100);
    padding: 1rem 0 0.5rem 0.5rem;
    margin-top: 0.5rem;
}
