.steg__tittel {
    text-align: center;
}

.steg__stegindikator {
    font-weight: bold;
}

.steg__knappeseksjon {
    display: flex;
    gap: 4rem;
    margin-top: 4rem;
    justify-content: center;
}
