.feilVedInnsending {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.feilVedInnsendingHeading {
    text-align: center;
}

.feilVedInnsendingGuidePanel {
    margin-top: 2rem;
}

.lastInnSidenPåNyttButton {
    text-align: center;
    margin-top: 2rem;
}