.navds-fieldset,
.navds-form-field {
    margin-top: 1rem;
}

.navds-date__wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.navds-date__field {
    margin-top: 0.5rem;
}

.marginTopHeading {
    margin-top: 3rem;
}

.marginTop {
    margin-top: 1rem;
}
