.aksel-fieldset,
.aksel-form-field {
    margin-top: 1rem;
}

.aksel-date__wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.aksel-date__field {
    margin-top: 0.5rem;
}

.marginTopHeading {
    margin-top: 3rem;
}

.marginTop {
    margin-top: 1rem;
}
