.step__title {
    text-align: center;
}

.step__stepindicator {
    font-weight: bold;
}

.step__buttonsection {
    display: flex;
    gap: 4rem;
    margin-top: 4rem;
    justify-content: center;
}

.step__errorsummary {
    margin-bottom: 1rem;
}