.fileInput {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.fileCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fileCardLeftContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.fileSuccess {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.75rem;
    background-color: var(--ax-success-1000);
}

.fileInputText {
    word-break: break-all;
}

.deleteAttachment {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: var(--ax-accent-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.deleteAttachment:hover {
    border: 2px solid var(--ax-accent-500);
}

.deleteAttachment:focus {
    border: 2px solid var(--ax-accent-500);
}

.dropZone {
    padding: 30px;
    border: 2px dashed var(--ax-accent-200);
    background-color: var(--ax-accent-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.dragOver {
    opacity: 0.5;
}

.visuallyHidden {
    display: none;
}

.alert {
    margin-top: 1rem;
}

.bodyShort {
    padding: 1rem;
}
